.renderVideoCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.App {
  background-color: rgb(24, 28, 25);
  color: white;
}
.title {
  margin-left: 45%;
  font-weight: bold;
}
.homePage {
  padding-top: 5rem;
}
